
@using ProjectFishWorksWebApp.Models
@using ProjectFishWorksWebApp.Models.DeviceModels
@using MQTTnet
@inject MQTTnet.ClientLib.MqttService MqttService


<MudCard Outlined="true">
    <MudCardContent>
        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left"
                         Color="@((tempHum.CanopyHum > tempHum.CanopyHumAlarmHigh || tempHum.CanopyHum < tempHum.CanopyHumAlarmLow) ? MudBlazor.Color.Error : MudBlazor.Color.Default)">
                    Canopy Humidity: @tempHum.CanopyHum %
                </MudText>
                <MudToggleIconButton @bind-Toggled="tempHum.CanopyHumAlarmOnOff"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(tempHum.CanopyHumAlarmOnOff ? "On" : "Off")" />
                Canopy Humidity Alarms are @(tempHum.CanopyHumAlarmOnOff ? "On" : "Off")

                    @if (tempHum.CanopyHumAlarmOnOff)
                    {
                        <MudNumericField @bind-Value="tempHum.CanopyHumAlarmLow"
                                         Label="Low Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="100" />

                        <MudNumericField @bind-Value="tempHum.CanopyHumAlarmHigh"
                                         Label="High Humidity Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="100" />
                    }
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left"
                         Color="@((tempHum.CanopyTemp > tempHum.CanopyTempAlarmHigh || tempHum.CanopyTemp < tempHum.CanopyTempAlarmLow) ? MudBlazor.Color.Error : MudBlazor.Color.Default)">
                    Canopy Temperature: @tempHum.CanopyTemp °C
                </MudText>
                <MudToggleIconButton @bind-Toggled="tempHum.CanopyTempAlarmOnOff"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(tempHum.CanopyTempAlarmOnOff ? "On" : "Off")" />
                Canopy Temperature Alarms are @(tempHum.CanopyTempAlarmOnOff ? "On" : "Off")

                @if (tempHum.CanopyTempAlarmOnOff)
                {
                    <MudNumericField @bind-Value="tempHum.CanopyTempAlarmLow"
                                     Label="Low Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="35" />

                    <MudNumericField @bind-Value="tempHum.CanopyTempAlarmHigh"
                                     Label="High Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="35" />
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<MudCard Outlined="true">
    <MudCardContent>
        <MudGrid Spacing="10">
            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left"
                         Color="@((tempHum.CanopyTemp > tempHum.TankTempAlarmHigh || tempHum.TankTemp < tempHum.TankTempAlarmLow) ? MudBlazor.Color.Error : MudBlazor.Color.Default)">
                    Tank Temperature: @tempHum.TankTemp °C
                </MudText>
                <MudToggleIconButton @bind-Toggled="tempHum.TankTempAlarmOnOff"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(tempHum.TankTempAlarmOnOff ? "On" : "Off")" />
                Tank Temperature Alarms are @(tempHum.TankTempAlarmOnOff ? "On" : "Off")

                <span>
                    @if (tempHum.TankTempAlarmOnOff)
                    {
                        <MudNumericField @bind-Value="tempHum.TankTempAlarmLow"
                                         Label="Low Temperature Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="35" />

                        <MudNumericField @bind-Value="tempHum.TankTempAlarmHigh"
                                         Label="High Temperature Alarm"
                                         Variant="Variant.Outlined"
                                         Min="0" Max="35" />
                    }
                </span>
            </MudItem>

            <MudItem xs="6">
                <MudText Typo="Typo.h6"
                         Align="MudBlazor.Align.Left"
                         Color="@((tempHum.SumpTemp > tempHum.SumpTempAlarmHigh || tempHum.SumpTemp < tempHum.SumpTempAlarmLow) ? MudBlazor.Color.Error : MudBlazor.Color.Default)">
                    Sump Temperature: @tempHum.SumpTemp °C
                </MudText>
                <MudToggleIconButton @bind-Toggled="tempHum.SumpTempAlarmOnOff"
                                     Icon="@Icons.Material.Filled.AlarmOff"
                                     Color="MudBlazor.Color.Warning"
                                     ToggledIcon="@Icons.Material.Filled.AlarmOn"
                                     ToggledColor="MudBlazor.Color.Tertiary"
                                     title="@(tempHum.SumpTempAlarmOnOff ? "On" : "Off")" />
                Canopy Temperature Alarms are @(tempHum.SumpTempAlarmOnOff ? "On" : "Off")

                @if (tempHum.SumpTempAlarmOnOff)
                {
                    <MudNumericField @bind-Value="tempHum.SumpTempAlarmLow"
                                     Label="Low Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="35" />

                    <MudNumericField @bind-Value="tempHum.SumpTempAlarmHigh"
                                     Label="High Temperature Alarm"
                                     Variant="Variant.Outlined"
                                     Min="0" Max="35" />
                }
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>

<HistoryChart HistoryData="@tempHum.TempHumHistory"
              ChartTitle="Potentiometer History"
              YAxisTitle="Potentiometer Value"
              XAxisTitle="Time"
              NodeID="@NodeID"
              MessageID="2560"
              RequestData="tempHumChartRequestData"
              UpdateData="tempHumChartUpdateData" />

@code {

    [Parameter]
    public int SystemID { get; set; } = 0;
    [Parameter]
    public int BasestationID { get; set; } = 0;
    [Parameter]
    public int NodeID { get; set; } = 0;

    TempHumDevice tempHum;

    //Event handlers for the HistoryChart component

    //Request historical data
    private void tempHumChartRequestData(object sender, HistoryChartDataEventArgs e)
    {
        tempHum.requestHistoricalData(e.NodeID, e.MessageID, e.Hours);
    }

    //Update the historical data and chart
    private void tempHumChartUpdateData(object sender, HistoryChartDataEventArgs e)
    {
        tempHum.TempHumHistory = tempHum.updateHistoricalData(e.NodeID, e.MessageID, e.Hours);
        base.StateHasChanged();//force a re-render - !!MUST BE CALLED OR EVERYTHING BREAKS!!
    }

    private KeyValuePair<int, float?> windDirections;

    protected override async Task OnInitializedAsync()
    {
        this.tempHum = new TempHumDevice(MqttService, this.SystemID, this.BasestationID, this.NodeID);

        if (MqttService.IsConnected())
        {
            MqttService.MessageReceived += MqttClient_MessageReceived;
        }
    }

    //Request historical data
    private void historyChartRequestData(object sender, HistoryChartDataEventArgs e)
    {
        tempHum.requestHistoricalData(e.NodeID, e.MessageID, e.Hours);
    }

    //Update the historical data and chart
    private void historyChartUpdateData(object sender, HistoryChartDataEventArgs e)
    {
        tempHum.TempHumHistory = tempHum.updateHistoricalData(e.NodeID, e.MessageID, e.Hours);
        base.StateHasChanged();//force a re-render - !!MUST BE CALLED OR EVERYTHING BREAKS!!
    }

    private void MqttClient_MessageReceived(object sender, MqttApplicationMessageReceivedEventArgs e)
    {
        base.StateHasChanged();
    }
}

