<!-- Client/App.razor -->

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <MudCard>
                        <MudCardContent>
                            <MudStack Row="true">
                                <MudText Typo="Typo.h4">Logging In</MudText>
                                <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </Authorizing>
                <NotAuthorized>
                    <MudCardContent>
                        <MudStack>
                            <MudText Typo="Typo.h4">Not Logged In</MudText>
                            <MudButton Href="authentication/login" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Login</MudButton>
                        </MudStack>
                    </MudCardContent>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
